{% set mysql = salt['grains.filter_by'] ({
  'Debian': {
    'server': 'mysql-server',
    'client': 'mysql-client',
    'python': 'python-mysqldb',
    'service': 'mysql',
    'cfg': '/etc/mysql/mysql.conf.d/mysqld.cnf'
  },
  'RedHat': {
    'server': 'mariadb-server',
    'client': 'mariadb',
    'python': 'MySQL-python',
    'service': 'mariadb',
    'cfg': '/etc/my.cnf.d/server.cnf'
  },
  'default': 'Ubuntu',
} ) %}
